.cabecalho{
    width: 100%;
    height: 70PX;
    position: fixed;
    top: 0;
    background-color: white;
}
.cabecalho img{
    height: 20px;
    top: 5px;
    position: relative;
}
.dark{
    display: inline;
    position: absolute;
    right: 10%;
    top: 20px;
    font-size: 15PX;
}
.cabecalho P{
    left: 10%;
    position: relative;
    font-size: 25px;
}
body{
    background-color: beige;
    font-size: 14px;
}
.divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    top: 100PX;
    left: 100PX;
    position: relative;
    width:300px;
    height:32px;
  }
  
  .txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  .divBusca img{
    height: 30px;
    float:left;
  }
  .custom-select{
    position: absolute;
    top: 100px;
    right: 100px;
  }